span{
    background-color: beige;
}
 
body {
    background-color: rgb(194, 194, 255);
  }

n {
    font-family:serif;
    font-size: x-large;
    color: blanchedalmond;
    background-color: rgb(255, 0, 43);
}
  t {
    font-size: 200%;
    font-weight: bold;
    letter-spacing: 10px;
    text-align: center;
    text-shadow: gray 6px 6px;
    text-transform: uppercase;
  }

  y {
    text-transform: uppercase;
  } 

  x {
    border: rgb(14, 2, 58) 5px dotted;
  }
  body{
    margin: 10%;
  }
